.category-preview-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .title {
    font-size: 28px;
    display: inline-block;
    margin-bottom: 25px;
    cursor: pointer;
    border-bottom: 5px solid transparent;
    &:hover {
      border-bottom: 5px solid red;
      transition: all ease-in-out;
    }
  }

  .preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
  }
}
